body {
    margin: 0px;
    background-color: lightblue;
}

#app {
    font-weight: normal;
}

header {
    font-size: 2em;
    color: white;
    background-color: cyan;
    margin-bottom: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}